:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --accent-text-color-white: #ffffff;
  --accent-text-color-blue: #2196f3;
  --accent-background-color: #2196f3;
  --link-text-color: rgb(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-logo-color: #2196f3;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --button-no-active-background: #f5f4fa;
  --border-color-gray: #eeeeee;
  --border-color-header: #ececec;
  --social-color-no-active: #afb1b8;
  --footer-social-background: rgba(255, 255, 255, 0.1);
  --we-doing-item-title-background: rgba(47, 48, 58, 0.8);
  --project-description-background: rgba(33, 150, 243, 0.9);
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-background: rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-title-color);
  background-color: var(--primary-background-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.header {
  display: flex;
  align-items: center;
}

.section-header {
  border: 1px solid var(--border-color-header);
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-align: left;
  color: var(--logo-color);
  width: 145px;
  height: 31px;
}

.address-box .logo {
  margin-right: 0;
}

.logo .web {
  color: var(--accent-logo-color);
}
.logo .studio {
  color: var(--accent-text-color-white);
}

.list-links {
  display: flex;
}

.list-links .item:not(:last-child) {
  margin-right: 50px;
}

.list-links .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-title-color);
  transition: color 250ms var(--transition-cubic);
}

.list-links .link:hover,
.list-links .link:focus {
  color: var(--accent-text-color-blue);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color-blue);
}

.envelope {
  fill: currentColor;
  margin-right: 10px;
}

.smartphone {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-background-color);
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--accent-text-color-white);
}

.button-to-order {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--accent-text-color-white);
  background-color: var(--accent-background-color);
  cursor: pointer;
}

.overley {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* advantage (Наши преимущества) */
/* !!! */
.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.advantage-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.advantage-item .item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; /* Заглавные буквы */
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-title-color);
}

.advantage-item .item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

.advantage-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--button-no-active-background);
}

/* we-doing (Чем занимаемся) */

.we-doing {
  padding-bottom: 94px;
}

.we-doing-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.doing-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.we-doing-list .image {
  display: block;
}

.we-doing .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.doing-item-card {
  position: relative;
  height: 100%;
  width: 100%;
}

.doing-item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-text-color-white);
  background-color: var(--we-doing-item-title-background);
}

/* our-team (Наша команда) */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-no-active-background);
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item .image {
  display: block;
  width: 100%;
}

.our-team .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.team-item .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.team-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.team-item .content {
  padding: 30px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.social-link {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--social-color-no-active);
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color-white);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  fill: currentColor;
}

/* our-clients */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.our-clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-link {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  fill: var(--social-color-no-active);
  border: 1px solid var(--social-color-no-active);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-cubic),
    fill 250ms var(--transition-cubic);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-background-color);
  fill: var(--accent-text-color-blue);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-box {
  display: flex;
}

.address-box {
  display: flex;
  flex-direction: column;
}

.social-box {
  padding-top: 12px;
  margin-left: 70px;
}

/* Подписаться на рассылку */

.form-subscribe {
  width: 100%;
  padding-top: 12px;
  margin-left: 93px;
}

.subscribe-field {
  display: flex;
}

.form-subscribe .title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--accent-text-color-white);
}

.subscribe-input {
  padding: 15px 16px;
  min-width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--footer-background-color);
  outline: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: box-shadow 250ms var(--transition-cubic),
    border 250ms var(--transition-cubic);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border: 1px solid var(--accent-background-color);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button {
  position: relative;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;

  border-radius: 4px;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--accent-text-color-white);
  background-color: var(--accent-background-color);
  cursor: pointer;
  transition: box-shadow 250ms var(--transition-cubic);
}

.subscribe-button:hover,
.subscribe-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button .send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.address {
  width: 231px;
  margin-top: 20px;
}

.address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address-item .our-address {
  color: var(--accent-text-color-white);
}

.address-item .our-mail {
  color: var(--link-text-color);
  transition: color 250ms var(--transition-cubic);
}

.address-item .our-tel {
  color: var(--link-text-color);
  transition: color 250ms var(--transition-cubic);
}

.address-item .our-mail:hover,
.address-item .our-mail:focus,
.address-item .our-tel:hover,
.address-item .our-tel:focus {
  color: var(--accent-text-color-blue);
}

.social-box .title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--accent-text-color-white);
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--accent-text-color-white);
  background-color: var(--footer-social-background);
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color-white);
}

/* активная страница */
.link.active {
  position: relative;
  color: var(--accent-text-color-blue);
}

.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-text-color-blue);
}

/* portfolio.html (Портфолио) */

.nav-button {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 50px;
}

.button-list .item {
  margin-top: 8px;
  margin-left: 8px;
}

.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--button-no-active-background);
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic),
    box-shadow 250ms var(--transition-cubic);
}

/* Buttons */

.button-filter:hover,
.button-filter:focus {
  color: var(--accent-text-color-white);
  background-color: var(--accent-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-list .project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--transition-cubic);
}

.project-item .image {
  display: block;
}

.project-item-overley {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: var(--project-description-background);

  transition: transform 250ms var(--transition-cubic),
    opacity 250ms var(--transition-cubic);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--accent-text-color-white);
}

.project-item:hover .project-description,
.project-item:focus .project-description {
  transform: translateY(0);
  opacity: 1;
}

.project-item .content {
  padding: 20px 24px;
  border: 1px solid var(--border-color-gray);
  border-top: none;
}

.project-item .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--primary-title-color);
}

.project-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

/* Модалка */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--transition-cubic),
    visibility 250ms var(--transition-cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 15px;
  background-color: var(--primary-background-color);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--transition-cubic),
    opacity 250ms var(--transition-cubic);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  cursor: pointer;
  fill: var(--logo-color);
  transition: fill 250ms var(--transition-cubic);
}

.btn-close:hover {
  fill: var(--accent-text-color-blue);
}

.modal .close {
  display: block;
}

/* Форма в модалке "Заказать" */
.form-order {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-order .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.form-field {
  position: relative;
  margin-top: 28px;
}

.form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--transition-cubic);
}

.form-input:focus,
.form-input:hover {
  border: 1px solid var(--accent-background-color);
}

.form-icon {
  fill: var(--logo-color);
  transition: fill 250ms var(--transition-cubic);
}

.form-input:focus-within ~ .form-icon,
.form-input:hover ~ .form-icon {
  fill: var(--accent-background-color);
}

.form-label {
  position: absolute;
  top: -25%;
  left: 0;
  transform: translateY(-50%);

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transform: translateY(-50%);
}

.comment-label {
  margin-top: 10px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.comment-input {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border 250ms var(--transition-cubic);
}

.comment-input:focus,
.comment-input:hover {
  border: 1px solid var(--accent-background-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 14px;
  margin-right: 14px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-background-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid var(--primary-title-color);
  border-radius: 4px;
  transition: border 250ms var(--transition-cubic);
}

.checkbox:focus-within + .checkbox-icon,
.checkbox:hover + .checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid var(--accent-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-text-color-blue);
}

.button-send {
  align-self: center;
  width: 200px;
  padding: 10px 55px;

  border-radius: 4px;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--accent-text-color-white);
  background-color: var(--accent-background-color);
  cursor: pointer;
  transition: box-shadow 250ms var(--transition-cubic);
}

.button-send:hover,
.button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
